/* Styling for Holy Grail index.html */


header {
    display: flex;
    align-content: center;
    align-items: center;
    
}

#header-top {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    font-size: 55px;
    text-align: center;
    background-color: #99d0ff;
    border: 10px solid black;
}

#header-top h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
}

main {
    display: flex;
    flex-direction: column;
}

#left-column {

}

#left-column ul {
    list-style-type: none;
}